
/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 400px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

/* INDEX.HTML */

/* ESTILOS MOBILE-FIRST --------------------------------------------------------------------------------------------------------------------------------------------------*/

/* estilos de header */
.background-header {
    background-color: rgb(75, 145, 75);
}

.titulo-header{
    color: rgb(199, 191, 29);
    font-weight: 700;
}
.menu-button{
    border: none;
}
.menu-button:focus {
    box-shadow: none;
}
.menu-icon {
    background-image: url(./../img/hamburger-menu-svgrepo-com.png);
}
header nav div a img {
    width: 80px;
}
header nav div .logo-header {
    display: flex;
}




/* estilos de main */

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(./../img/fondo.main.bmp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 7px #8d8d8d;
    
}
.presentacion-general-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
main h1 {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.descripcion-index{
    background: wheat;
    padding: 1rem;
    border-radius: 1rem;
}


.epocas-index {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}


/* los de footer */ 
footer {
    padding-top: 1.5rem;
    margin-top: 3rem;
    background-color: rgb(75, 145, 75);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

footer div {
    margin: auto; /* Centra horizontalmente */
    text-align: center;
}

footer .logo-footer img {
    width: 150px;
}

footer .social-footer {
    background-color: aliceblue;
    margin: 2rem;
    max-width: 400px;
    padding-top: 1rem;
    border-radius: 0px 30px 30px  30px;
}

footer .social-footer ul {
    display: flex;
    margin-left: 0;
    flex-wrap: wrap;
    list-style: none;
    gap: .7rem;
    padding: 1.4rem;
}



/* ESTILOS TABLET --------------------------------------------------------------------------------------------------------------------------------------------------------*/






@media screen and (min-width:768px) {
    

    /* FOOTER */
    footer {
        grid-template-columns: 3;
        grid-template-rows: 1;
    }
}


/* ESTILOS DESKTOP -------------------------------------------------------------------------------------------------------------------------------------------------------*/





@media screen and (min-width:1024px) {
    


}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* TRIASICO.HTML */

/* ESTILOS MOBILE-FIRST --------------------------------------------------------------------------------------------------------------------------------------------------*/

/* estilos de header */

/* estilos de main */

/* estilos de footer */
/* ESTILOS TABLET --------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* ESTILOS DESKTOP -------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* JURASICO.HTML */

/* ESTILOS MOBILE-FIRST --------------------------------------------------------------------------------------------------------------------------------------------------*/

/* estilos de header */

/* estilos de main */

/* estilos de footer */
/* ESTILOS TABLET --------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* ESTILOS DESKTOP -------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* CRETACICO.HTML */

/* ESTILOS MOBILE-FIRST --------------------------------------------------------------------------------------------------------------------------------------------------*/

/* estilos de header */

/* estilos de main */

/* estilos de footer */
/* ESTILOS TABLET --------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* ESTILOS DESKTOP -------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||            ||||||   ||||||   ||||||   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||  |||||||||||||||||||||||||      |||   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||         |||||||||   ||||||   ||   |   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||  ||||||||||||||||   ||||||   ||||     ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||  ||||||||||||||||   ||||||   ||||||   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||  ||||||||||||||||   ||||||   ||||||   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */